body{
  background-color: #FCF8E8;
}

hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color:  grey;
  border-width: 4px;
  width: 100%;
}

img{
  height: 250px;
  width: 250px;
}

h1{
  color: #18978F;
}

h3{
  color:#18978F
}
